{% extends 'PrivateMain.html' %}

{% block head %}
<link rel="stylesheet" href = "{{url_for('static', filename = 'Activity.css' )}}"/>
<title>Activities</title>
{% endblock %}

{% block body %}
<div class="left">
    <a  class="btn_a" href="{{ url_for('quizzes') }}"><img src = "/static/images/quiz_icon.png" style="width: 10vw; height: 20vh;">
    <h2>Quizzes</h2></a>
</div>
<div class="middle">
<a class="btn_a" href="{{ url_for('games') }}">
    <img src = "/static/images/controller2.png" style="width: 10vw; height: 20vh;">
    <h2>Games</h2></a>
</div>
<div class="right"><a  class="btn_a" href="{{ url_for('design') }}"> 
    <img src = "/static/images/brush3.png" style="width: 10vw; height: 20vh;">
    <h2>Design</h2></a>
</div>
{% endblock %}