{% extends 'publicmain.html' %}

{% block head %}
    <title>Log in</title>
    <link rel="stylesheet" href= "{{ url_for('static', filename = 'Animal.css') }}">   
    <script defer src = "{{ url_for('static', filename='js/Animal.js') }}"></script>
    
{% endblock %}

{% block body%}
<div class="container">
    <div class="category" href="{{ url_for('mammals') }}">Mammals</div>
    <div class="category" href="{{ url_for('birds') }}">Birds</div>
    <div class="category" href="{{ url_for('fish') }}">Fish</div>
    <div class="category" href="{{ url_for('invertebrates') }}">Invertebrates</div>
    <div class="category" href="{{ url_for('amphibians') }}">Amphibians</div>
    <div class="category" href="{{ url_for('reptiles') }}">Reptiles</div>
</div>
{% endblock %}