{% extends 'PrivateMain.html' %}

{% block head %}
  <title>Discussion</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'discussion.css') }}">
{% endblock %}


{% block body%}

<h1>Add a comment</h1>
<div id="comment-container">
</div>
<textarea name="" id="new-comment" cols="60" rows="5"></textarea>
<br>
<button id="btn-post">Post</button>

<script>
    document.getElementById("btn-post").addEventListener("click", function () {
    const newComment = document.getElementById("new-comment").value;
    const commentContainer = document.getElementById("comment-container");
    const commentElement = document.createElement("p");
    commentElement.innerText = newComment;
    commentContainer.appendChild(commentElement);
    document.getElementById("new-comment").value = "";
    });
</script>

{% endblock %}

