{% extends 'publicmain.html'%}
{% block head%}
    <link rel="stylesheet" href= "../forget_password.css">
    <title>Forget passsword</title>
{% endblock %}
{% block body %}
    
    <div>
        <div>
            <img src="/Users/adebiyifadekemi/Desktop/komodo_hub/Komodo-Hub-5005CMD-1/KOMODO HUB/templates/7769793_3227472.jpg" alt="forget password picture" width="700px" height="700px">
        <h1>
            Forgot Password?
        </h1>
        <div>
            Please write your email to recieve confirmation code to set  new password.
        </div>

         
        <div>
            <form>
                <label >Email Address:</label><br>
                <input type="text"  value="exanple@gmail.com"><br>
                <input type ="submit" value="Confirm Enail">
            </form>
        </div>
    </div>
{% endblock %}






