{% extends 'publicmain.html'%}
{% block head%}
    <link rel="stylesheet" href= "{{ url_for('static', filename = 'forget_password.css') }}">
    <title>Forget passsword</title>
{% endblock %}
{% block body %}
    
    <div class =" forget-container">
        
        <h1>
            Forgot Password?
        </h1>
        <div class =" note ">
            Please enter your email to receive a confirmation code.
        </div>

        <form>
            <label >Email Address</label><br>
            <input type="email"  placeholder="example@gmail.com"><br>
        
            <a  href="{{ url_for('resetpass') }}" class="button">Confirm Mail</a>
        </form>
        
      
    </div>
{% endblock %}






