{% extends 'publicmain.html' %}

{% block head %}
    <title>Home</title>
    <link rel="stylesheet" href= "{{ url_for('static', filename = 'home.css') }}" />
{% endblock %}

{% block body%}
    <div class="hero">
        <div class="column leftcolumn">
            <h1>Explore, Protect, Preserve. Indonesia’s Wildlife Starts With You.</h1>
            <p>Welcome to Komodo Hub, your gateway to exploring and protecting Indonesia’s rich biodiversity. Our digital platform is dedicated to identifying, conserving, and educating people about endangered endemic species. Join us in safeguarding wildlife through knowledge, action, and community involvement. By leveraging technology, research, and community-driven initiatives, we aim to create a lasting impact on conservation efforts. Together, we can raise awareness, promote sustainable practices, and ensure a future where Indonesia’s unique wildlife thrives in its natural habitat.</p>
        </div>
        <div class="column">
            <div class = "imgs">
                <img src = "/static/images/Home-SumatranRhino.jpg" id = "ImgRhino">
                <img src = "/static/images/Home-SunBear.jpg" id = "ImgSunBear">
                <img src = "/static/images/Home-SumatranTiger.jpg" id = "ImgTiger">
            </div>
        </div>
    </div>

    <div id="About-Us">
        <div class = "container">
            <img src = "/static/images/AboutUs-bg.png" id = "ImgAboutBg">
            <h2 class = "centered title">ABOUT US</h2>
        </div>
            <p>Komodo Hub is a digital platform dedicated to the exploration, identification, and protection of Indonesia’s endemic species. With habitat loss and other threats endangering wildlife, we strive to bridge the gap between conservation efforts and public awareness. Through education, research, and community involvement, we empower individuals to take meaningful action in preserving biodiversity. By leveraging technology and collaboration, we aim to create a lasting impact on wildlife conservation, ensuring that Indonesia’s unique species continue to thrive for generations to come.</p>
        <div class = "MV">
            <h2>Mission</h2>
            <p>At Komodo Hub, our mission is to preserve Indonesia’s unique wildlife by leveraging digital innovation to explore, identify, and protect endangered endemic species. Through education, advocacy, and community engagement, we aim to raise awareness, promote conservation efforts, and drive impactful actions to ensure a sustainable future for generations to come.</p>
            <h2>Vision</h2>
            <p>We envision a future where Indonesia’s endemic species thrive in their natural habitats, free from the threats of habitat destruction, exploitation, and invasive species. Komodo Hub strives to be a leading digital platform that empowers individuals and communities to take action, fostering a deeper connection with nature and ensuring the long-term survival of Indonesia’s wildlife.</p>
        </div>
    </div>
    
{% endblock %}

