{% extends 'publicmain.html' %}

{% block head %}
    <title>Log in</title>
    
{% endblock %}
<link rel="stylesheet" href= "{{ url_for('static', filename = 'login.css') }}">
{% block body%}


    
    <div class="login-container">
        <h2>Log in to your account</h2>
        <form>
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            
            <a href="templates/forget_password.html" class="forgot-password">Forgot password?</a>
            
            <button type="submit">LOGIN</button>
        </form>
        <p>Don't have an account? <a href="http://127.0.0.1:5000/register/">Sign up</a></p>
    </div>
    
    

{% endblock %}