{% extends 'PrivateMain.html' %}

{% block head %}
<link rel="stylesheet" href = "{{url_for('static', filename = 'messages.css' )}}"/>
<script defer src="{{ url_for('static', filename='js/gen_mess.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js" integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<title>Chats</title>
{% endblock %}

{% block body %}
    <div class="Box" id="modal">
        <div class = "Box-inner">
            <div id="MessageBox">
                {% for msg in message %}
                    <li>
                        {{ msg.Message }}
                    </li>
                {% endfor %}
            </div>
            <div id="Message_Input">
            <input id="Message" name="Message" type="text" placeholder="Type Message">
            <button id="S_btn">Send</button>
            </div>
        </div>
    </div>
    <div class="Box2" id="modal2">
        <div class = "Box-inner2">
            <div id="JoinRoom">
            <form action="{{url_for('pm_mess')}}" method="POST">
            <label for="room">Choose a room</label>
            <select id="room" name="room">
                <option value=""></option>
                <option value="Room1">Students Only</option>
                <option value="Room2">Teachers Only</option>
            </select>
            <button type="submit">Join</button>
            </form>
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
