{% extends 'PrivateMain.html' %}

{% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'principal_main.css') }}">
{% endblock %}


{% block body %}
<h3 id = "welcome"> Welcome Back, {{username}} !</h3>
<div class = "top-row">
    <button>Manage Users</button>
    <button>Manage Organisation</button>
    <p> Access code</p>
</div>

<div class = "box">
    <h3> Add user to </h3>
    <form class = "user-form" method="POST" action="" >
        <label for="username">Username</label><br>
        <input id="username" type="text" name="username" placeholder="Enter username" required>

        <p>Role</p>
        <input type="radio" id = "teacher" name = "role" value = "teacher">
        <label for="teacher">Teacher</label>
        <input type="radio" id = "student" name = "role" value = "student">
        <label for="student">Student</label>

        <br>
        <button type="submit">Assign</button>
    </form>
</div>

{% endblock %}