{% extends 'principal_main.html' %}

{% block head %}
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'principal_main.css') }}">
    <script defer src = "{{ url_for('static', filename='js/principal_org.js') }}"></script>
{% endblock %}

{% block box %}

<h3> Manage Organisation </h3>
<form id = "org-form" method="POST" action="/principal/org" >
    <div class = "left">
        <label for="org_name">Name: </label>
        <input id="org_name" type="text" name="org_name" value= "{{org_name}} "required><br>

        <label for="province">Province: </label>
        <input id="province" type="text" name="province" value= "{{province}}" required><br>

        <label for="country">Country: </label>
        <input id="country" type="text" name="country" value= "{{country}}" required><br>
        
        <button type = "button" id = "code">New Access Code</button>
    </div>

    <div class = "right">
        <label for="description">Description(500 characters max) </label><br>
        <textarea id="description" type="text" name="description" required> {{description}} </textarea><br>
        
        <button type = "submit">Save changes</button>
        <button type = "reset">Reset</button>
    </div>
</form>
{% endblock %}