<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=Just+Another+Hand&display=swap" rel="stylesheet">

        {% block head %}{% endblock %}
        
        <link rel="stylesheet" href= "{{ url_for('static', filename = 'public.css') }}" />
    </head>

    <body>
        <div class="logobar">
            <a href="{{ url_for('home') }}" class="logobar-logo">KOMODO HUB</a>
            <a href="{{ url_for('login') }}" class="logobar-item logobar-login">Log in</a>
            <a href="{{ url_for('register') }}" class="logobar-item">Register</a>
        </div>
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-item">Home</a>
            <a href="{{ url_for('forums') }}" class="navbar-item">Animals</a>
            <a href="{{ url_for('home') }}#About-Us" class="navbar-item">About Us</a>
            <a href="{{ url_for('home') }}#Contact" class="navbar-item">Contact Us</a>
            <div class = "navbar-item dropdown">
                <a>Get Involved</a>
                <div class="dropdown-content">
                    <a href="#">Discussion</a>
                    <a href="#">Volunteering</a>
                    <a href="#">Donations</a>
                    <a href="#">Report Endangered Species</a>
                </div>
            </div>
        </div>
        <div id="page-container">
            <div id="content-wrap">
                {% block body%}
                {% endblock %}
            </div>
            <footer class = "footer">
                <div id = "footer-left">Privacy Policy | Terms of Use</div>
                <div id = "footer-right">@2025 KOMODO HUB, INC</div>
            </footer>
        </div>

        
    </body>
</html>
