{% extends 'publicmain.html' %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='/Registration.css') }}">
    <title>Registration - Individual</title>
{% endblock %}

{% block body%}
<div id="BigBox">
<div id= "TitleText"><h1 class="TEXT">Enter Your Details</h1></div>


<h3 class="TEXT">
    <div id="EmailText">Email Address:</div>
    <div id="FirstText">First Name:</div>
    <div id="LastText">Last Name:</div>
    <div id="DOB">Date Of Birth:</div>
    <div id="UserText">Username:</div>
    <div id="PassText">Password:</div>
    <div id="RePassText">Retype Password:</div>
</h3>

<form action="/">
    <div>
        <input type="email" id="Email" name="Email" required>
        <input type="text" id="First" name="First" required>
        <input type="text" id="Last" name="Last" required>
        <input type="date" id="Date" name="Date" required>
        <input type="text" id="User" name="User" required>
        <input type="password" id="Pass" name="Pass" required>
        <input type="password" id="RePass" name="RePass" required>
    </div>
    <br>
    <div id="Submit">
        <h2><a href="{{ url_for('Individual')}}"><input type="submit" value="SUBMIT"></a></h2>
    </div>
</form>
</div>
{% endblock %}