{% extends 'publicmain.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/Registration.css') }}">
    <title>Register</title>
{% endblock %}

{% block body%}
<div id="BigBox">
    <div class="titleText">
        <h1>Start Your Learning Journey</h1>
        <h1>Komodo Hub - Trusted Destination For Exploration</h1>
    </div>
    <div class="titleText regText">
        <h2>Register as: </h2>
    <div>
    <div class = "btnBar">
        <a class = "btns" href="{{ url_for('Organisation')}}">ORGANISATION</a>
        <a class = "btns" href="{{ url_for('Individual')}}">INDIVIDUAL</a>
    </div>
</div>
{% endblock %}