{% extends 'publicmain.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/Registration.css') }}">
    <title>Registration - Individual</title>
{% endblock %}

{% block body%}
<div id="BigBox">
<div id= "Text2"><h2>Enter Your Details</h2></div>

<!-- Checking if both passwords match -->
 <script>
    function checking()
    {
        var form1 = document.getElementById('form1')
        if (form1.Pass.value != form1.RePass.value)
        {
            alert("Passwords do not match");
            form1.Pass.focus();
            return false;
        }
        return true;
    }
 </script>

<form action="{{url_for('Individual')}}" method="POST" name = "form1"  id="form1">
    <div>
        <div id = "Secondary_Box">
        <div id="Text1"><h3>Email Address:</h3></div>
        <input type="email" id="InputBox1" name="Email" placeholder="example@gmail.com" required>
        <div id="Text1"><h3>First Name:</h3></div>
        <input type="text" id="InputBox1" name="First"placeholder="Reetika" required>
        <div id="Text1"><h3>Last Name:</h3></div>
        <input type="text" id="InputBox1" name="Last" placeholder="Thapar" required>
        <div id="Text1"><h3>Date of Birth:</h3></div>
        <input type="date" id="Date" name="Date" max="2019-12-31" min="1955-01-01" required>
        </div>
        <div id = "Secondary_Box">
        <div id="Text1"><h3>Access code if Applicable:</h3></div>
        <input type="text" id="InputBox1" name="Code" placeholder="Code">
        <div id="Text1"><h3>Username:</h3></div>
        <input type="text" id="InputBox1" name="User" placeholder="thaparr6" required>
        <div id="Text1"><h3>Password:</h3></div>
        <input type="password" id="InputBox1" name="Pass"  placeholder="Password" required>
        <div id="Text1"><h3>Re-type Password:</h3></div>
        <input type="password" id="InputBox1" name="RePass" placeholder="Password" required>
        </div>
    </div>
    <br>
    <div id="Submit">
        <h2><input type="submit" value="SUBMIT" onClick="return checking()"></h2>
    </div>
</form>
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <h2>{{ message }}</h2>
    {% endfor %}
</div>
{% endblock %}

</div>
{% endblock %}