{% extends 'publicmain.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/Registration.css') }}">
    <title>Registration - Organisation</title>
{% endblock %}

{% block body%}
<div class="BigBox">
<div class="enterText"><h2>Register For An Organisation</h2></div>

<form action="{{url_for('organisation')}}" enctype="multipart/form-data" method = "POST" name="form2" id="form2">
    <div class = "colContainer">
        <div class = "columns">
            <label for="orgName">Organisation Name: </label>
            <input type="text" name="orgName" placeholder="Coventry University" required>

            <label for="province">Province: </label>
            <input type="text" name="province" placeholder="West Midlands" required>
        </div>

        <div class = "columns">
            <label for="country">Country: </label>
            <input type="text" name="country" placeholder="England" required>

            <label for="filename">Organisation logo: </label>
            <input type="file" name="filename" required>
        </div>
    </div>

    <label id="introTxt" for="intro">Brief Introduction (Max 500 characters): </label>
    <textarea id="Intro" name="intro" rows="5%" maxlength="500" placeholder="A brief explanation of your organisation..." required></textarea>

    <button type="submit">NEXT</button>
</form>

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <h2>{{ message }}</h2>
    {% endfor %}
</div>
{% endblock %}

</div>
{% endblock %}