{% extends 'publicmain.html' %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='/Registration.css') }}">
    <title>Registration - Organisation</title>
{% endblock %}

{% block body%}
<div id="BigBox">
<div id="ForOrg"><h1 class="TEXT">Register For An Organisation</h1></div>
<h3 class="TEXT">
    <div id="OrgText">Organisation Name:</div>
    <div id="ProText">Province:</div>
    <div id="CouText">Country:</div>
    <div id="OrgLogo">Organisation Logo:</div>
    <div id="BriefText">Brief Introduction (Max 200 words):</div>
</h3>

<form action="/">
    <div>
        <input type="text" id="Org" name="Org" required>
        <input type="text" id="Pro" name="Pro" required>
        <input type="text" id="Cou" name="Cou" required>
        <textarea id="Intro" name="Intro" rows="9" cols="30" required></textarea>
        <input type="file" id="File" name="filename" required>
    </div>
    <br>
    <div id="NEXT">
        <h2><a href="{{ url_for('Individual')}}"><input type="submit" value="NEXT"></a></h2>
    </div>
</form>
</div>
{% endblock %}