{% extends 'publicmain.html'%}
{% block head%}
    <link rel="stylesheet" href= "{{ url_for('static', filename = 'reset_password.css') }}">
    <title>Reset passsword</title>
{% endblock %}
{% block body %}

<div class =" reset-container">

    <h1>
        New Password
    </h1>
    <div class =" note ">
        Please enter your new passsword.
    </div>
    
    <script>
        function checking() {
            var form2 = document.getElementById('form2');
            var password = form2.password.value.trim();
            var conpassword = form2.conpassword.value.trim();

            // check if fields are empty
            if (password === "" || conpassword === "") {
                alert("Both password fields must be filled out.");
                return false;
            }
            
            // check if the passwords match 
            if (form2.password.value !== form2.conpassword.value)  {
                alert("Passwords do not match");
                form2.password.focus();
                return false;
            }
            return true;
        }
    </script>
    
    <form action="{{url_for('login')}}" method="POST" name="form2" id="form2">
        <label>New Password</label><br>
        <input type="password" name="password"><br>
        
        <label>Confirm Password</label><br>
        <input type="password" name="conpassword"><br>
    
        <a onclick= "return checking()"href="{{ url_for('login') }}" class="button" >Confirm</a>
    </form>
    

</div>

{%endblock%}