{% extends 'PrivateMain.html' %}

{% block head %}
  <title>Volunteer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'volunteer_priv.css') }}">
{% endblock %}


{% block body%}
<div class="right-box">
    <p>VOLUNTEER WITH KOMODO HUB  </p>
    <button class="btn" onclick= openPopup()>JOIN US</button>
    <div class = "popup" id = "popup">
      <h2>Volunteer your interest</h2>
      <p>By entering your email, we will send you a form with further information 
        about how to join us on our upcoming events!
      </p>
      <button class="btn" onclick=closePopup()>OK</button>
    </div>
</div>
<div class="left-box">
    <p>UPCOMING EVENTS</p>
</div>

<script>
let popup = document.getElementById("popup");

function openPopup(){
  popup.classList.add("open-popup");
}
function closePopup(){
  popup.classList.remove("open-popup");
}

</script>
 
<div class = "container">
    <img src = "/static/images/volunteer.png" style="width:100vw; height:40vh;">
</div>


<div class="cta-btn">
    <div class="imgs">
      <div class="img-wrapper">
        <a href="{{ url_for('litter_priv') }}" class="litter-picking">
          <div class="img-container">
            <img src="/static/images/litter.png">
            <div class="overlay-label">22 JUNE</div>
          </div>
        </a>
        <h2 class="title">Litter Picking</h2>
      </div>

      <div class="img-wrapper">
        <a href="{{ url_for('feeding_priv') }}" class="animal-feeding">
          <div class="img-container">
            <img src="/static/images/monke.png">
            <div class="overlay-label">16 SEPT</div>
          </div>
        </a>
        <h2 class="title">Animal Feeding</h2>
      </div>
    </div>
  </div>

{% endblock %}
