h1{
    font-family: 'Just Another Hand';
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 1rem;
    color: #a02420;
    padding: 10px;
}

#chat-box {
    max-width: 600px;
    padding: 80px;
}

.reply-box {
    margin-left: 40px;
    padding: 8px;
    border-left: 2px solid #ccc;
    background-color: #f3f3f3;
    border-radius: 6px;
    margin-top: 10px;
}

.message-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    position: relative;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background: gray;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 4px;
}

.delete-btn:hover {
    background: darkgray;
}

.post-btn {
    top: 5px;
}

.message {
    background: red;
}