.hero {
    display: flex;
    padding-bottom: 3vh;
}
.column {
    flex: 50%;
    padding-top: 5vh;
    position: relative;
}
.column h1{
    font-family: "Gothic A1";
    font-weight: bold;
    text-align: center;
}
.column p {
    font-family: "Gothic A1";
    font-weight: bold;
    text-align: justify;
    font-size: 0.9rem;
}
.leftcolumn{
    margin: 10vh 15vh 15vh 15vh;
    font-size: 1rem;
    color: #580801;
}
.column img{
    border-radius: 20%;
    width: 17vw;
    height: 17vw;
    opacity: 0.85;
    transition: 0.3s;
}
.column img:hover{
    border: solid #580801;
    opacity: 1;
}
.imgs{
    display: flex;
    flex-direction: column;
}
#ImgTiger {
    position: absolute;    
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    z-index: 2;
    width: 17vw;
    height: 17vw;
}
/*About Us */
#About-Us{
    scroll-margin-top: 5.313rem;
}
#ImgAboutBg{
    width: 100%;
    height: 40vh;
}
.AbtBgContainer {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}  
.title{
    font-family: 'Just Another Hand';
    font-size: 4rem;
    font-weight: 100;
    color: black;
}
#About-Us p{
    margin: 1vh 1vw 1vh 1vw;
    text-align: justify;
    font-family: "Gothic A1";
    font-weight: bold;
    color: #580801;
}
.MV {
    display: flex;
    margin-top: 2vh;
    margin-bottom: 1vh;
}
.MV h2{
    transform: rotate(-90deg);
    height: 4vw;
    margin-top: 6vh;
}
#Contact{
    background-color: #D10121;
    color: white;
}
#contact-title{
    color: white;
    margin-left: 5vw;
    margin-top: 1vh;
    padding: 5vh 0 5vh 0;
    margin-bottom: 3vh;
}
.Add-E-P{
    display: flex;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-top: 1vh;
}
.contents{
    margin: auto;
    text-align: center;
}
.contents i{
    font-size: 4rem;
    border: solid;
    border-radius: 100%;
    padding: 1rem;
}
.contents h1{
    font-family: 'Just Another Hand';
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 1rem;
}
.contents h3{
    margin-top: 0;
}
.socials{
    text-align: center;
    margin-top: 1vh;
}
.socials i {
    font-size: 1.8rem;
    margin: 7px;
}
.socials p {
    margin: 0;
    padding: 3vh;
}