.login-container {
    background-color: white;
    padding: 30px;
    margin: auto;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}
.login-container h2 {
    color: #a02420;
    place-content: center;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #a02420;
}
input {
    padding: 8px;
    border: 1px solid #a02420;
    border-radius: 5px;
    outline: none;
}
.forgot-password {
    text-align: right;
    margin: 10px 0;
    color: #a02420;
    text-decoration: none;
}
button {
    background-color: #a02420;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
button:hover{
    background-color: #580801;
}
p {
    margin-top: 20px;
}
p a {
    color: #a02420;
    text-decoration: none;
    font-weight: bold;
}