#Mess_btn{
    display: flex;
    position: flex;
    border: solid;
    position: flex;
    margin-left: 88%;
}

button:hover{
    background-color: grey;
}
#PersonA{
    border: solid;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}
.BoxA{
    position: flex;
    height: 0rem;
    width: 10rem;
    margin-left: 85%;
    overflow: hidden;
}
.BoxA.open{
    border: solid;
    height: 30rem;
}
.modal {
    opacity: 0;

}
.modal.open{
    opacity: 1;

}
#MessageBox{
    color: white;
    background-color: black;
    height: 90%;
}
#Message_Input{
    background-color: white;
}
.modal-inner{
    position:fixed;
    margin-top: -30%;
    margin-left: 20%;
    height: 30rem;
    width: 30rem;
    background-color: white;
}