body{
    font-family: "Gothic A1";
    font-weight: bold;
    color: #580801;
}
#welcome{
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
}
.top-row{
    display: flex;
}
.top-row button{
    background-color: transparent;
    border: none;
    font-family: "Gothic A1";
    font-weight: bold;
    color: #580801;
    font-size: 1.2rem;
    margin: auto;
}
.top-row p {
    font-size: 1.2rem;
    margin: auto;
}
.box {
    border: solid;
    border-color: #a02420;
    border-radius: 1rem;
    margin: 3rem 5rem;
    padding: 2rem;
}
.box h3{
    margin: 0;
    padding-bottom: 1rem;
}
#user-form label {
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #580801;
}
#user-form input {
    padding: 8px;
    border: 1px solid #580801;
    border-radius: 5px;
    outline: none;
    margin-top: 0.5rem;
}
#user-form p {
    margin-bottom: 0.5rem;
}
#user-form button {
    background-color: #a02420;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 4px;
}
#user-form button:hover{
    background-color: #580801;
}