html, body{
    padding: 0;
    margin: 0;
    background-color: #FFF6F6;
    width: 100%;
    font-family: 'Gothic A1';
 }
.logobar{
    top:0;
    position: fixed;
    background-color: #D10121;
    width: 100%;
    height: 50px;
    display: flex;
}
.logobar-logo {
    font-family: 'Irish Grover';
    font-size: 36px;
    color: white;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 100px;
    margin-top: 5px;
}
.logobar-item{
    font-family: 'Inter';
    font-size: 15px;
    color: white;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 15px;
}
.logobar-item:hover{
    text-decoration: underline;
}
.logobar-login{
    margin-left: auto;
}
.navbar {
    top:50px;
    position: fixed;
    background-color: #A60A0A;
    display: flex;
    width: 100%;
    height: 35px;
}
.navbar-item {
    text-decoration: none;
    color: white;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 20%;
    padding-top: 4px;
}
.navbar-item:hover{
    background-color: #D10121;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #D10121;
    font-family: 'Inter';
    font-size: 12px;
    color: white;
    display: flex;
}
.footer-left{
    margin-left: 30px;
    margin-top: 5px;
}
.footer-right{
    margin-left: auto;
    margin-right: 30px;
    margin-top: 5px;
}
.body-content{
    margin-top: 85px;
}
