html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1';
 }
.logobar{
    top:0;
    position: fixed;
    background-color: #D10121;
    width: 100%;
    height: 3.125rem;
    display: flex;
    z-index: 1000;
}
.logobar-logo {
    font-family: 'Irish Grover';
    font-size: 2.25rem;
    color: white;
    text-decoration: none;
    margin-left: 1.875rem;
    margin-right: 6.25rem;
    margin-top: 0.313rem;
}
.logobar-item{
    font-family: 'Inter';
    font-size: 0.938rem;
    color: white;
    text-decoration: none;
    margin-right: 1.875rem;
    margin-top: 0.938rem;
}
.logobar-item:hover{
    text-decoration: underline;
}
.logobar-login{
    margin-left: auto;
}
.navbar {
    top: 3.125rem;
    position: fixed;
    background-color: #A60A0A;
    display: flex;
    width: 100%;
    height: 2.188rem;
    z-index: 1000;
}
.navbar-item {
    text-decoration: none;
    color: white;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    width: 20%;
    border: none;
    background-color: #A60A0A;
    height: 100%;
    cursor: pointer;
    padding-top: 0.438rem;
}
.navbar-item:hover{
    background-color: #D10121;
}
.dropdown {
    position: relative;
    display: inline-block;
}  
.dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #A60A0A;
    width: 100%;
    z-index: 1;
    margin-top: 0.625rem;
}
.dropdown-content a {
    color: black;
    padding: 0.75rem 1rem;
    text-decoration: none;
    height: 0.938rem;
    font-size: 0.938rem;
    color: white;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #D10121;
}
#page-container {
    margin-top: 5.313rem;
    min-height: 75vh;
    padding-bottom: 1.25rem;
    padding-top: 1.55rem;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    display: flex;

    background-color: #D10121;
    font-family: 'Inter';
    font-size: 0.75rem;
    color: white;
}
#footer-left{
    margin-left: 1.875rem;
    margin-top: 0.313rem;
}
#footer-right{
    margin-left: auto;
    margin-right: 1.875rem;
    margin-top: 0.313rem;
}

