#BigBox {
    border: 5px solid rgb(88, 8, 1);
    border-radius: 0.625rem;
    width: 75%;
    background-color: white;
    margin-left: 12%;
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
}
/* Main Registration Page */
.titleText{
    color: rgb(88, 8, 1);
    width: auto;
    background-color: white;
    text-align: center;
    padding-top: 0.313rem;
}
.regText{
    text-align: left;
    padding-left: 1.25rem;
}
.btnBar{
    display: flex;
    width: 100%;
    margin-top: 1.25rem;
}
.btns{
    border: none;
    border-radius: 0.625rem;
    width: 30%;
    background-color: rgb(166, 10, 10);
    color: white;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    text-decoration: none;
    font-family: "inter";
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 2px;
    padding: 5rem 2rem 5rem 2rem;
}
.btns:hover {
    font-weight: 700;
    font-size: 1.35rem;
    background-color: #D10121;
}

/* Both Pages */
h3,
.h3{
    font-size: 1.75rem;
}
#Text1{
    color: rgb(88, 8, 1);
    height: auto;
    width: auto;
    position: flex;
    margin-top: 3%;
    margin-left: 4%;
}
#Text2{
    color: rgb(88, 8, 1);
    height: auto;
    width: auto;
    position: flex;
    margin-top: 3%;
    margin-left: 50%;
}
#InputBox1{
    border: 0.15rem solid rgb(166,10,10);
    position: flex;
    width: 30%;
    font-size: 1.75rem;
    margin-top: -1%;
    margin-left: 4%;

}
#InputBox2{
    border: 0.15rem solid rgb(166,10,10);
    position: flex;
    width: 30%;
    font-size: 1.75rem;
    margin-top: -1%;
    margin-left: 50%;
}

/* Individual Page */
#Date{
    border: 0.15rem solid rgb(166,10,10);
    position: flex;
    font-size: 1.75rem;
    margin-top: -1%;
    margin-left: 4%;
}
#UserText{
    color: rgb(88, 8, 1);
    height: auto;
    width: auto;
    position: relative;
    margin-top: -40%;
    margin-left: 50%;
}
#Submit{
    position: flex;
    margin-top: 5%;
    margin-left: 80%;
}

/* Organisation Page */
#File{
    position: flex;
    margin-top: -1%;
    margin-left: 4%;
}
#BriefText{
    color: rgb(88, 8, 1);
    height: auto;
    width: auto;
    position: flex;
    margin-top: 3%;
    margin-left: 4%;
}
#Intro{
    width: 70%;
    border: 0.15rem solid rgb(166,10,10);
    position: flex;
    font-size: 1.25rem;
    margin-top: -1%;
    margin-left: 4%;
}
#NEXT{
    position: flex;
    margin-top: 5%;
    margin-left: 80%;
}