/* Main Registration Page */
.BigBox {
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.625rem;
    width: 65%;
    background-color: white;
    margin-left: 17%;
    margin-top: 1.25rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.titleText{
    color: #a02420;
    text-align: center;
    background-color: white;
}
.titleText h2{
    text-align: left;
    margin-top: 0;
    padding-left: 3.15rem;
}
.btnBar{
    display: flex;
    width: 100%;
    margin-top: 1.25rem;
}
.btns{
    border: none;
    border-radius: 0.625rem;
    width: 30%;
    background-color: rgb(166, 10, 10);
    color: white;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    text-decoration: none;
    font-family: "inter";
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 2px;
    padding: 5rem 2rem 5rem 2rem;
}
.btns:hover {
    font-weight: 700;
    font-size: 1.35rem;
    background-color: #D10121;
}
.enterText h2{
    color: #a02420;
    background-color: white;
    text-align: left;
    margin: 0;
    margin-bottom: 1rem;
    margin-left: 8%;
}
.colContainer{
    display: flex;
    width: 100%;
}
.columns{
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-right: auto;
    padding-right: 10%;
}
form, .input-control {
    display: flex;
    flex-direction: column;
}
.input-control label {
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #a02420;
    font-size: 15px;
}
.input-control input {
    padding: 8px;
    border: 1px solid #a02420;
    border-radius: 5px;
    width: 120%;
    outline: none;
    margin-bottom: 8px;
}
.input-control.error input {
    border: 1.5px solid #f4332c;
}
.input-control.error label {
    color: #f4332c;
}
.input-control.error {
    color: #f4332c;
    font-weight: bold;
    font-size: 10px;
}
button {
    background-color: #a02420;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 8%;
    margin-top: 1rem;
    height: 7vh;
    width: 8vw;
}
button:hover {
    border: solid;
    background-color: #D10121;
}
/* Organisation Page */
#introTxt{
    margin-left: 3.5rem;
}
#Intro{
    width: auto;
    max-height: fit-content;
    font-size: 1rem;
    border: 1px solid #a02420;
    padding: 8px;
    border-radius: 5px;
    margin-left: 3.5rem;
    margin-right: 4rem;
}