#BigBox {
    border: 5px solid rgb(88, 8, 1);
    border-radius: 0.625rem;
    width: 75%;
    background-color: white;
    margin-left: 12%;
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
}
/* Main Registration Page */
.titleText{
    color: rgb(88, 8, 1);
    width: auto;
    background-color: white;
    text-align: center;
    padding-top: 0.313rem;
}
.regText{
    text-align: left;
    padding-left: 1.25rem;
}
.btnBar{
    display: flex;
    width: 100%;
    margin-top: 1.25rem;
}
.btns{
    border: none;
    border-radius: 0.625rem;
    width: 30%;
    background-color: rgb(166, 10, 10);
    color: white;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    text-decoration: none;
    font-family: "inter";
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 2px;
    padding: 5rem 2rem 5rem 2rem;
}
.btns:hover {
    font-weight: 700;
    font-size: 1.35rem;
    background-color: #D10121;
}

/* Individual Page */
h3,
.h3{
    font-size: 1.75rem;
}

#TitleText{
    color: rgb(88, 8, 1);
    height: auto;
    width: auto;
    margin-top: 3%;
    margin-left: 4%;
}
#EmailText{
    color: rgb(88, 8, 1);
    height: auto;
    width: auto;
    position: flex;
    margin-top: 3%;
    margin-left: 4%;
}
#Email{
    border: 0.15rem solid rgb(166,10,10);
    position: flex;
    width: 30%;
    font-size: 1.75rem;
    margin-top: -1%;
    margin-left: 4%;
}
#FirstText{
    position: flex;
    color: rgb(88, 8, 1);
    height: auto;
    width: auto;
    margin-top: 3%;
    margin-left: 4%;
}
#First{
    border: 0.15rem solid rgb(166,10,10);
    position: flex;
    width: 14%;
    font-size: 1.75rem;
    margin-top: -1%;
    margin-left: 4%;
}
#LastText{
    position: flex;
    height: auto;
    width: auto;
    color: rgb(88, 8, 1);
    margin-top: -9.25%;
    margin-left: 20%;
}
#Last{
    border: 0.15rem solid rgb(166,10,10);
    position: flex;
    width: 14%;
    font-size: 1.75rem;
    margin-top: -0.9%;
    margin-left: 20%;
}
#DOB{
    position: flex;
    color: rgb(88, 8, 1);
    height: auto;
    width: auto;
    margin-top: 3%;
    margin-left: 4%;
}
#Date{
    border: 0.15rem solid rgb(166,10,10);
    position: flex;
    font-size: 1.75rem;
    margin-top: -1%;
    margin-left: 4%;
}
#UserText{
    color: rgb(88, 8, 1);
    height: auto;
    width: auto;
    position: flex;
    margin-top: -35.2%;
    margin-left: 50%;
}
#User{
    border: 0.15rem solid rgb(166,10,10);
    position: flex;
    width: 30%;
    font-size: 1.75rem;
    margin-top: -1%;
    margin-left: 50%;
}
#PassText{
    color: rgb(88, 8, 1);
    height: auto;
    width: auto;
    position: flex;
    margin-top: 3%;
    margin-left: 50%;
}
#Pass{
    border: 0.15rem solid rgb(166,10,10);
    position: flex;
    width: 30%;
    font-size: 1.75rem;
    margin-top: -1%;
    margin-left: 50%;
}  
#RePassText{
    color: rgb(88, 8, 1);
    height: auto;
    width: auto;
    position: flex;
    margin-top: 3%;
    margin-left: 50%;
}
#RePass{
    border: 0.15rem solid rgb(166,10,10);
    position: flex;
    width: 30%;
    font-size: 1.75rem;
    margin-top: -1%;
    margin-left: 50%;
}
#Submit{
    position: flex;
    margin-top: 5%;
    margin-left: 80%;
}

/* Organisation Page */
#OrgText{
    color: rgb(88, 8, 1);
    height: auto;
    width: auto;
    position: flex;
    margin-top: 3%;
    margin-left: 4%;
}
#Org{
    border: 0.15rem solid rgb(166,10,10);
    position: flex;
    width: 30%;
    font-size: 1.75rem;
    margin-top: -1%;
    margin-left: 4%;
}
#ProText{
    color: rgb(88, 8, 1);
    height: auto;
    width: auto;
    position: flex;
    margin-top: 3%;
    margin-left: 4%;
}
#Pro{
    border: 0.15rem solid rgb(166,10,10);
    position: flex;
    width: 30%;
    font-size: 1.75rem;
    margin-top: -1%;
    margin-left: 4%;
}
#CouText{
    color: rgb(88, 8, 1);
    height: auto;
    width: auto;
    position: flex;
    margin-top: 3%;
    margin-left: 4%;
}
#Cou{
    border: 0.15rem solid rgb(166,10,10);
    position: flex;
    width: 30%;
    font-size: 1.75rem;
    margin-top: -1%;
    margin-left: 4%;
}
#OrgLogo{
    color: rgb(88, 8, 1);
    height: auto;
    width: auto;
    position: flex;
    margin-top: 3%;
    margin-left: 4%;
}
#File{
    position: flex;
    margin-top: -1%;
    margin-left: 4%;
}
#BriefText{
    color: rgb(88, 8, 1);
    height: auto;
    width: auto;
    position: flex;
    margin-top: 3%;
    margin-left: 4%;
}
#Intro{
    border: 0.15rem solid rgb(166,10,10);
    position: flex;
    font-size: 1rem;
    margin-top: -1%;
    margin-left: 4%;
}
#NEXT{
    position: flex;
    margin-top: 5%;
    margin-left: 80%;
}